@media screen and (min-width: 500px) {
* {
	margin:0;
	padding:0;
}

nav {
	font-family: Calibri, sans-serif;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.7);
	text-align: left;
}

nav a {
	text-decoration: none;
	color: #fff;	
	line-height: 50px;
}

nav a.logo {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
	float: left;
	margin-left: 40px;
	text-decoration: none;
}
nav a.logo:hover {
	text-decoration: none;
	color: #fff;
}

#myBtn:hover, button.signUpBtn:hover {
	background-color: gray;
	text-decoration: none;
	color: #fff;
}

#myBtn, button.signUpBtn {
	background: none;
	border:none;
	color: #fff;
	float: right;
	margin-right: 40px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	font-size: 22px;
}

.background-wrap {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

#bgvid {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background: url("../img/video.png") no-repeat;
}

.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	padding-top: 10%;
}

.content h2 {
	text-align: center;
	padding-top: 5%;
}

.modal-header, h4, .close {
	background-color: #5cb85c;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	background-color: #f9f9f9;
}

div.form-inline select.form-control {
	width: 30%;
	margin-right: 2%;
}

input[type="radio"] {
	margin-left: 10%;
}



}









@media screen and (max-width: 500px) {
* {
	margin:0;
	padding:0;
}

nav {
	font-family: Calibri, sans-serif;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.7);
	text-align: left;
}

nav a {
	text-decoration: none;
	color: #fff;	
	line-height: 50px;
}

nav a.logo {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
	float: left;
	margin-left: 40px;
	text-decoration: none;
}
nav a.logo:hover {
	text-decoration: none;
	color: #fff;
}

button.signUpBtn {
	display: none;
}

#myBtn:hover {
	background-color: gray;
	text-decoration: none;
	color: #fff;
}

#myBtn {
	background: none;
	border:none;
	color: #fff;
	float: right;
	margin-right: 40px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	font-size: 22px;
}

.background-wrap {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

#bgvid {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background: url("../img/video.png") no-repeat;
}

.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	padding-top: 10%;
}

.content h2 {
	text-align: center;
	padding-top: 5%;
}

.modal-header, h4, .close {
	background-color: #5cb85c;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	background-color: #f9f9f9;
}

div.form-inline select.form-control {
	width: 30%;
	margin-right: 2%;
}

input[type="radio"] {
	margin-left: 10%;
}

}